*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body{ background-color: #EAEDED}
.grocery-item{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    max-width: 1000px;
    padding: 30px 15px;
    border-radius: 0 0 10px 10px;
}

h1{
    background-color: #377cd6;
    line-height: 80px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

label, input{
    display: block;
}
input{
    margin-bottom: 15px;
}
.padding-container{
    padding: 0 15px;
}